<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>NCDC Recruitment Application</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </head>
   <body style="background-color:gainsboro;">
      <div class="jumbotron jumbotron-fluid" style="background-color:#270046";>
         <div class="container">
            <h1 class="display-3"><font color="white">List of books</font></h1>
            <p class="lead"><font color="white">NCDC Recruitment Application</font></p>
         </div>
      </div>
      <div class="container" style="background-color:#ffffff">
         <div class="row">
            <div class="col-sm-12">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Author</th>
                        <th scope="col">Title</th>
                        <th scope="col">ISBN</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:if="${books.empty}">
                        <td colspan="4"> No Books Available </td>
                     </tr>
                     <tr th:each="book : ${books}">
                        <td><span th:text="${book.id}">ID</span></td>
                        <td><span th:text="${book.author}"> Author </span></td>
                        <td><span th:text="${book.title}"> Title </span></td>
                        <td><span th:text="${book.isbn}"> ISBN </span></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <center>
         <form action="#" th:action="@{/addBook}" method="post">
            <input class="btn btn-primary" type="submit" value="Add new record" />
         </form>
      </center>
   </body>
